html, body{
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Josefin Sans", serif;
}
header{
    display: flex;
    background-color: #14181d;
    color: #e9e9e9;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header > img{
    margin: 12px;
    width: 80px;
    filter: invert()
}
a{
    color: #e9e9e9;
    text-decoration: none;
}
h1, h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Protest Guerrilla", serif;
    font-size: 3rem;
    margin: 20px;
    padding: 0;
}
h2{
    margin: 0;
}
nav{
    display: flex;
    gap: 12px;
}
nav > a{
    margin: 12px;
}
p{
    margin: 12px;
    padding: 12px;
    line-height: 24px;
}
footer{
    display: flex;
    background-color: #14181d;
    color: #e9e9e9;
    justify-content: center;
    position: relative;

}
main{
    background-color: #e9e9e9;
    width: auto;
    height: auto;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section > img{
    width: 100%;
}
#authorPicture{
    width: 200px;
    border-radius: 100%;
    margin: 12px;
    padding: 12px;
}
#imageGrid{
    display:grid;
}
/*Small mobile screen: 360px+*/
@media only screen and (min-width: 360px){
    header > img{
        padding-top: 12px;
    }
}
/*Large mobile screen: 540px+*/
@media only screen and (min-width: 540px){
    header > img{
        margin: 20px;
        padding-top: 20px;
    }
    nav{
        gap: 4rem;
    }
    h1{
        margin: 30px;
    }
    p{
        margin: 20px;
        padding: 20px;
    }
    #authorPicture{
        margin: 20px;
        padding: 20px;
    }
}
/*Tablet screen: 720px+*/
@media only screen and (min-width: 720px){
    body{
        background-color: #14181d;
        height: auto;
    }
    h1{
        margin: 40px;
    }
    nav{
        gap: 8rem;
    }
    main{
        margin: 3.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    main > section:nth-child(3){
        flex-direction: row-reverse;
    }
    main > section:nth-child(3) p{
        padding-top: 0;
    }
    main > section:nth-child(3) article{
        margin-top: 40px;
    }
    #authorPicture{
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #imageGrid{
        grid-template-columns: 50% 50%;
    }
}
/*Desktop screen: 1024px+*/
@media only screen and (min-width: 1024px){
}