@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    font-family: "Inter", serif;
}
body{
    display: flex;
    flex-direction: column;
    font-weight: 900;
}
header{
    display: flex;
    flex-direction: column;
}
.custom-select{
    display: none;
    font-family: "Inter", serif;
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
}
.custom-select option{
    font-family: "Inter", serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.header-base{
    display: flex;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#0d3b66,#229eb4 250%);
    justify-content: center;
    align-items: center;
}
.expandable-menu{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #0d3b66;
}
.menu-option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    border: #229eb4 1px solid;
}
.expandable-button{
    width: 100%;
    height: 50px;
    background-color: #061d34;
}
.topic-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.topics{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #151e3f;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 200px;
    background-image: linear-gradient(#e6e6e6, #ffffff 300%);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #e6e6e6;
    border-radius: 2rem;
}
.icon{
    width: 60px;
    height: 60px;
    border-radius: 2rem;
    background-color: white;
}
span{
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 700;
    color: #999999;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.centered-column{
    justify-content: center;
}
.extra-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(#0d3b66,#229eb4 250%);
    color: white;
    padding-top: 3rem;
    padding-bottom: 6rem;
}
#header-heading{
    font-size: 3rem;
    color: white;
}
#topics-heading{
    font-size: 1.5rem;
    color: #FCC80F;
    font-weight: 800;
}
#section-1{
    padding-top: 0;
    padding-bottom: 2rem;
}
#section-1 img{
    width: 240px;
    height: 200px;
    background-color: white;
    border-radius: 1rem;
}
#section-2{
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}
#section-2 h1{
    font-size: 3rem;
    font-weight: 900;
}
#section-2 p{
    width: 75%;
    font-weight: 700;
    font-size: 1rem;
}
#section-2 a{
    background-color: white;
    color: #0d3b66;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.25rem;
    padding: 4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
/*target devices breakpoints*/
/*tablet screen: 768px+*/
@media only screen and (min-width: 768px){
    #header-wrapped{
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 1200px;
    }
    .header-base{
        justify-content: left;
    }
    #header-heading{
        margin-left: 2rem;
    }
    .custom-select{
        display: flex;
        margin-right: 2rem;
        width: 300px;
        height: 40px;
    }
    .expandable-menu{
        display: none;
    }
    .expandable-button{
        display: none;
    }
    .topic-container{
        flex-direction: row;
    }
    #section-1 img{
        width: 360px;
        height: 300px;
    }
    #section-2{
        gap: 2rem;
    }
}
/*desktop screen: 1200px+*/
@media only screen and (min-width: 1200px){
    #header-wrapped{
        justify-content: space-between;
    }
    body{
        margin: auto;
    }
    .content-wrapper{
        flex-direction: row;
    }
    .topic-container{
        flex-direction: column;
    }
    .column{
        flex-direction: row;
    }
    .extra-container{
        flex-direction: row;
        padding-top: 6rem;
    }
    #section-1{
        padding-left: 2rem;
        padding-bottom: 0;
    }
    #section-1 img{
        width: 310px;
        height: 100%;
    }
    #section-2{
        width: 50%;
        align-items: flex-start;
        justify-content: left;
        text-align: left;
    }
    #section-2 h1{
        font-size: 4rem;
    }
    #section-2 p{
        width: auto;
    }
}