*{
    margin: 0;
    padding: 0;
}
:root{
    --spacing-sm: 16px;
    --spacing-lg-mb: 16px;
    --spacing-lg-tb: 32px;
    --spacing-lg-dt: 48px;
}
html, body{
    height: 100%;
    background-color: #231651;
    font-family: "Lato", sans-serif;
    color: #070410;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm);
    background-color: #4DCCBD;
}
nav{
    display: none;
}
h1{
    text-align: center;
    font-family: "Teko", sans-serif;
}
main{
    max-width: 900px;
    margin: auto;
    padding-top: var(--spacing-lg-mb);
    padding-bottom: var(--spacing-lg-mb);
}
nav > a{
    text-decoration: none;
    color: #070410;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-lg-mb);
}
article{
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article > p{
    margin-top: var(--spacing-sm);
    margin-bottom: calc(var(--spacing-sm) * 2);
}
button{
    border: none;
    border-radius: var(--spacing-sm);
    outline: none;
    padding: var(--spacing-sm);
    background-color: #4DCCBD;
    font-size: 2em;
    font-family: "Teko", sans-serif;
    font-weight: 500;
    width: 100%;
}
.card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;

    font-size: 1.5em;
}
.card img{
    width: 100%;
}
.searchbar input{
    border: none;
    border-radius: var(--spacing-sm);
    outline: none;
    padding: var(--spacing-sm);
    text-align: center;
    font-size: 2em;
    width: 4em;
}
#logo{
    font-size: 3em;
    font-weight: 500;
    font-family: "Teko", sans-serif;
}
/*TARGET DEVICES BREAKPOINTS*/
/*TABLET SCREEN: 720px+*/
@media only screen and (min-width: 720px){
    header{
        box-shadow: 0 12px rgba(7, 4, 16, 0.3);
    }
    nav{
        display: flex;
        gap: var(--spacing-lg-tb);
    }
    main{
        padding: var(--spacing-lg-tb);
    }
    button{
        position: relative;
        bottom: 0;
    }
    article, p{
        display: flex;
        flex-grow: 1;
    }
    .card-container{
        gap: var(--spacing-lg-tb);
    }
    .card{
        flex: 1 1 calc(50% - var(--spacing-lg-tb));
        box-shadow: 12px 12px rgba(7, 4, 16, 0.3);
    }
}
/*DESKTOP SCREEN: 1024px+*/
@media only screen and (min-width: 1024px){
    nav{
        gap: var(--spacing-lg-dt);
    }
    main{
        padding: var(--spacing-lg-dt);
    }
}